body {
    background-color: white;
    background      : radial-gradient(rgba(0, 0, 0, 0.25) 0.80px, transparent 0.2px);
    background-size : 10px 10px;
    background-attachment: fixed;
    background-position: static;
 }