body {
    padding: 50px; /*lo baja un poco del todo.*/
    background: radial-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 0.5px);
    background-color: white;
    background-size: 13px 13px;
    background-attachment: fixed;
    font-size: 15px;
    font-family: "Inconsolata";
    line-height: 22px;
 }
.wrapper {
  width: 860px;
  margin: 0 auto;
}
.content {
  padding: 20px;
  text-align: justify;
}
header {
  width: 270px;
  float: left;
  position: fixed;
  background-color: white;
  padding: 15px;
  border: #e9f0f0 solid 1px;
  box-shadow: rgba(253, 175, 171, 1)6px 6px;
}
header a:link {
  color: #808080;
  text-decoration: none;
}
section {
  width:  500px;
  float:  right;
  padding: 15px;
  padding-bottom:50px;
  background-color: white;
  border: #e9f0f0 solid 1px;
  box-shadow: rgba(182, 227, 233, 1)6px 6px;
}
img {
  margin-top: 10px;
  border-radius: 50%;
  width:  84px;
   84px;
}
#social img {
  margin-top: 0px;
  border-radius: 0%;
  width:  9%;
  height: 9%;
}
#social a:hover img {
  opacity:0.5;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color:rgb(255, 247, 173,1);
}

/* Colors
box-shadow: rgba(0,0,0,0.07)6px 6px; grey
box-shadow: rgba(250, 212, 174, 1)6px 6px; orange
box-shadow: rgba(250, 222, 225, 1)6px 6px; pink
box-shadow: rgba(217, 241, 241, 1)6px 6px; blue
box-shadow: rgba(250, 241, 214, 1)6px 6px; yellow
header a:visited {
  color: grey;
  text-decoration: none;
}
header a:hover {
  color: rgba(253, 175, 171, 1);
  text-decoration: none;
}
*/